/* INB Web Workflow Launcher Buttons CSS */

.button {
	/* Black IE magic */
	behavior:url(hover.htc);
	
	/* Standard classes */
	width: 135px;
	height: 45px;
	padding: 0px;
	
	background-image: url(button3-inactive.png);
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	
	display: table-cell;
	text-align: center;
 	vertical-align: middle;
	color: black;
	font-family: Arial, Helvetica, Georgia, sans-serif;
	font-size: 15px;
	/*
	background-color: gray;
	border: 1px solid black;
	*/
}

.button img {
	vertical-align: middle;
}

.buttonhover , div.button:hover , span.button:hover {
	background-image: url(button3-hover.png);
}

.buttonactive , div.button:active , span.button:active {
	background-image: url(button3-active.png);
}

.button.back {
	position: absolute;
	margin-left: 10px;
	left: 5%;
	bottom: 6%;
}

.button.forward {
	position: absolute;
	
	margin-right: 10px;
	right: 5%;
	bottom: 6%;
}

span.plus {
	width: 9px;
	height: 9px;
	padding-left: 10px;
	
	background-image: url(twisty-clsd.png);
	background-position: center left;
	background-repeat: no-repeat;
	cursor: pointer;
	
	text-align: center;
	white-space: nowrap;
 	vertical-align: middle;
	font-family: Arial, Helvetica, Georgia, sans-serif;
	font-size: 14px;
}

span.plus.remove {
	background-image: url(twisty-open.png);
}

span.add {
	width: 20px;
	height: 20px;
	padding-left: 22px;
	padding-top: 3px;
	padding-bottom: 3px;
	
	background-image: url(lumen_add.png);
	background-position: center left;
	background-repeat: no-repeat;
	cursor: pointer;
	
	text-align: center;
	white-space: nowrap;
 	vertical-align: middle;
	font-family: Arial, Helvetica, Georgia, sans-serif;
	font-size: 14px;
}

span.add.remove {
	background-image: url(lumen_minus.png);
}

span.magglass {
	width: 20px;
	height: 20px;
	padding-left: 20px;
	
	background-image: url(magglass.png);
	background-position: center left;
	background-repeat: no-repeat;
	cursor: pointer;
	
	text-align: center;
	white-space: nowrap;
 	vertical-align: middle;
	font-family: Arial, Helvetica, Georgia, sans-serif;
	font-size: 20px;
}

span.radio , span.checkbox {
	/* Black IE magic */
	/*
	behavior:url(hover.htc);
	*/
	/*
	width: 16px;
	*/
	height: 16px;
	
	background-repeat: no-repeat;
	margin: 2px 2px 2px 2px;
	cursor: pointer;
	
	text-align: left;
	white-space: nowrap;
 	vertical-align: middle;
	font-family: Arial, Helvetica, Georgia, sans-serif;
	font-size: 14px;
}

span.radio {
	background-image: url(radio.png);
}

span.checkbox {
	background-image: url(checkbox.png);
}

span.radio.left , span.checkbox.left {
	padding-left: 17px;
	background-position: center left;
}

span.radio.right , span.checkbox.right {
	padding-right: 17px;
	background-position: center right;
}

span.radiohover , span.radio:hover {
	background-image: url(radio-focus.png);
}

span.radio.checked , span.radio.left.checked , span.radio.right.checked {
	background-image: url(radio-checked.png);
}

span.checkboxhover.blue , span.checkbox.blue:hover {
	background-image: url(checkbox-focus.png);
}

span.checkbox.blue.checked , span.checkbox.left.blue.checked , span.checkbox.right.blue.checked {
	background-image: url(checkbox-checked.png);
}

span.checkboxhover.red , span.checkbox.red:hover {
	background-image: url(checkbox-red-focus.png);
}

span.checkbox.red.checked , span.checkbox.left.red.checked , span.checkbox.right.red.checked {
	background-image: url(checkbox-red-checked.png);
}

span.checkboxhover.green , span.checkbox.green:hover {
	background-image: url(checkbox-green-focus.png);
}

span.checkbox.green.checked , span.checkbox.left.green.checked , span.checkbox.right.green.checked {
	background-image: url(checkbox-green-checked.png);
}
